---
import { UpdatesPage } from '@components/react/UpdatesPage';
import Layout from '../../layouts/DefaultLayout.astro';
import { getCollection, getEntry } from 'astro:content';
import type { MinimumProjectsIndex } from '@components/react/SearchableProjectInfiniteScrollWrapper';

const allProjects = await getCollection('projects')

// This page relies mostly on preact real-time for filtering the displayed projects and fetching updates from the /api endpoint
// Prepare static data to pass to the script

const minimumProjectData: MinimumProjectsIndex[] = allProjects
	.sort((a, b) => a.data.releaseDate < b.data.releaseDate ? 1 : -1)
	.map(project => { return {
		slug: project.slug,
		title: project.data.title,
		src: project.data.coverImage.url
	}})

---

<Layout title="Updates">
	<div class="container mx-auto pt-12">
		<div class="w-full text-center">
			<h1 class="text-[38px] font-[575] mb-3">Project Updates</h1>
		</div>
		<UpdatesPage projects={minimumProjectData} client:only="preact" />
	</div>
</Layout>
