---
import Layout from '../../layouts/DefaultLayout.astro';
import { getCollection } from 'astro:content';
import type { MinimumProjectsIndex } from '@components/react/SearchableProjectInfiniteScrollWrapper';
import { DownloadsPage } from '@components/react/DownloadsPage';

const allProjects = await getCollection('projects')

// This page relies mostly on preact real-time for filtering the displayed projects and fetching updates from the /api endpoint
// Prepare static data to pass to the script

const minimumProjectData: MinimumProjectsIndex[] = allProjects
  .sort((a, b) => a.data.releaseDate < b.data.releaseDate ? 1 : -1)
  .map(project => { return {
    slug: project.slug,
    title: project.data.title,
    src: project.data.cover.image
  }})

---

<Layout title="Downloads">
	<div class="container mx-auto pt-12">
		<div class="w-full text-center">
			<h1 class="text-[38px] font-[575] mb-3">Downloads and Manuals</h1>
		</div>
		<DownloadsPage projects={minimumProjectData} client:only="preact" />
	</div>
</Layout>
