---
import Layout from '../../layouts/DefaultLayout.astro';
import CardAtelier from '@components/single-use/designer-resources/card-atelier.astro'
import CardPlategen from '@components/single-use/designer-resources/card-plategen.astro'
import CardMXV2 from '@components/single-use/designer-resources/card-mx-v2.astro'
import CardQR from '@components/single-use/designer-resources/card-qr.astro'

---

<Layout 
	title="Designer Resources" 
	description="Works, references, and communities for keyboard designers."
>
	<div class="container mx-auto pt-12 px-4 md:px-0">
		<div class="w-full text-center pb-12">
			<h1 class="text-[32px] lg:text-[38px] font-[575] mb-1">Designer Resources</h1>
			<p>Works, references, and communities for keyboard designers.</p>
		</div>
		<div class="grid grid-flow-row-dense grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
			<CardAtelier />
			<CardPlategen />
			<CardMXV2 />
			<CardQR />
		</div>
	</div>
</Layout>
