---
interface Props {
  label: string;
  url?: string | undefined;
  extern?: boolean | undefined;
}

const { label, url, extern } = Astro.props;

let openInNewTab = (extern !== false);
if (extern === undefined && url && url.charAt(0) === "#") {
  openInNewTab = false
}

---

<div class=`
  ${url ? "bg-zinc-700" : "bg-zinc-500"}
  text-white 
  text-center 
  rounded-[2.375px] 
  ${url && "hover:bg-zinc-600"}
  ${url && "transition-all ease-[var(--spring-easing)] duration-[138ms]"}
`>
  <a
    href={url ? url : null}
    aria-disabled={url ? false : true}
    class="h-full text-white no-underline"
    target={openInNewTab === false ? "_self" : "_blank"} rel={openInNewTab !== false && "noopener noreferrer"}
  >
    <div class="py-3 px-5">
      {label}
    </div>
  </a>
</div>
