---
import type { HTMLAttributes } from 'astro/types';

interface Props {
  label: string;
  url?: string | undefined;
  extern?: boolean | undefined;
  disabled?: boolean | undefined;
  fitWidth?: boolean,
  extraClasses?: string,
}

const { label, url, extern, disabled, fitWidth, extraClasses, } = Astro.props;

let openInNewTab = (extern !== false);
if (extern === undefined && url && url.charAt(0) === "#") {
  openInNewTab = false
}

let buttonDisabled = disabled ? true : ( url ? false : true )


---

<div class=`
  ${buttonDisabled ? "bg-zinc-500" : "bg-zinc-700"}
  text-white 
  text-center 
  rounded-[2.375px]
  ${fitWidth && "w-fit"}
  ${!buttonDisabled && "hover:bg-zinc-600"}
  ${!buttonDisabled && "transition-all ease-[var(--spring-easing)] duration-[138ms]"} 
  ${extraClasses}
`>
  <a
    href={buttonDisabled ? null : url}
    aria-disabled={buttonDisabled}
    class={`h-full text-white no-underline`}
    target={openInNewTab === false ? "_self" : "_blank"} rel={openInNewTab !== false && "noopener noreferrer"}
  >
    <div class="py-3 px-5">
      {label}
    </div>
  </a>
</div>
