---

interface Props {
  href?: string,
}

const {
  href
} = Astro.props;

let hoverClass = "hover:bg-zinc-600"
let hoverEnabledClasses = "transition-all ease-[var(--spring-easing)] duration-[138ms]"

---

<a href={href} class={`text-white px-6 py-4 bg-zinc-700 rounded-[2.375px] !no-underline ${href ? hoverClass : ""} ${href ? hoverEnabledClasses : ""}`}>
  <slot />
</a>