---
import Layout from '@layouts/DefaultLayout.astro';
import DefaultMarkdownRenderer from '@components/astro/DefaultMarkdownRenderer.astro'
import { getCollection, getEntry } from 'astro:content';

const allCollections = await getCollection('project-collections')
---

<Layout title="Portfolio">
	<main>
		Test projects index

		<DefaultMarkdownRenderer>
			<ul>
				{allCollections.map(collection => <a href={`/collections/${collection.slug}`}><li>{collection.data.title}</li></a>)} 
			</ul>
		</DefaultMarkdownRenderer>
	</main>
</Layout>
