---
import Layout from '@layouts/DefaultLayout.astro';
import CollectionGridItem from '@components/astro/CollectionGridItem.astro'
import { getCollection } from 'astro:content';

const allCollections = (await getCollection('project-collections')).sort((a, b) => a.data.priority < b.data.priority ? 1 : -1)
---

<Layout 
	title="Portfolio" 
	description="An overview of ai03's works."
	noFooterPadding
>

	<!-- Grid -->
	<div class="
		grid grid-flow-row-dense bg-zinc-900
		grid-cols-1 gap-4 px-3 py-3 
		md:grid-cols-2 md:px-4 md:py-4
		2xl:grid-cols-4 2xl:gap-5 2xl:px-5 2xl:py-5
	">

		<!-- Portfolio title header -->
		<div class="col-span-1 row-span-1 h-[150px] md:h-[175px] xl:h-auto md:col-span-2 md:row-span-2 xl:col-span-1 xl:row-span-1 xl:aspect-[1.618] flex flex-col justify-center items-center">
			<div class="text-white">
				<h1 class="text-3xl font-[475] lg:text-4xl lg:font-[450]">Portfolio</h1>
				<p></p>
			</div>
		</div>

		{allCollections.map((collection) => 
			<CollectionGridItem collection={collection} />
		)}
	</div>
</Layout>

