---
import Layout from '../../layouts/DefaultLayout.astro';
import { getCollection, getEntry } from 'astro:content';
import type { MinimumProjectsIndex } from '@components/react/SearchableProjectInfiniteScrollWrapper';
import DefaultMarkdownRenderer from '@components/astro/DefaultMarkdownRenderer.astro';

const allProjects = await getCollection('projects')

// This page relies mostly on preact real-time for filtering the displayed projects and fetching updates from the /api endpoint
// Prepare static data to pass to the script

const minimumProjectData: MinimumProjectsIndex[] = allProjects.map(project => { return {
	slug: project.slug,
	title: project.data.title,
	src: project.data.coverImage.url
}})

---

<Layout title="Contact">
	<div class="container mx-auto pt-12">
		<div class="w-full text-center">
			<h1 class="text-[38px] font-[575] mb-8">Contact</h1>
		</div>
		<DefaultMarkdownRenderer>
			<h2>
				Quick Support
			</h2>
			<p>Please join <a href="https://discord.gg/qA5JD9y">the Discord community</a> for the quickest support and real-time discussion.</p>
			<p>I am the most responsive if contacted there, and there may also be community assistance available.
			<h2>
				General inquiries
			</h2>
			<p>For questions or messages that involve private information, or larger inquiries beyond the scope of Discord, please use <a href="https://docs.google.com/forms/d/e/1FAIpQLSeDXYrYGG9i69_cJkETaZZj6OcjNraM9qaULQIhStfAcz5hfQ/viewform">this form</a> for reaching out.</p>
		</DefaultMarkdownRenderer>
	</div>
</Layout>
