---
import { FetchPackageLicenses } from "@components/react/FetchPackageLicenses";
import Layout from "@layouts/DefaultLayout.astro";
---

<Layout 
  title="License"
  description="Licenses for the softwares used to build this website."
>
  <div class="container mx-auto py-12 px-6">
    <h1 class="text-4xl font-[700]">Licenses Information</h1>
    <p class="pt-6">The site itself is open-sourced under the <a href="https://github.com/ai03-2725/ai03-mainsite-v5/blob/main/LICENSE">AGPL-3.0 license</a>.</p>
    <p class="pt-2">The <a href="/package-licenses">following licenses</a> are bundled with the software used to construct this website.</p>
    <FetchPackageLicenses client:load />
  </div>
</Layout>
