---

interface Props {
  
}

const {  } = Astro.props

---

<div class="w-full bg-zinc-200 py-14">
  <div class="container mx-auto">

    <div class="px-4 flex flex-col md:flex-row text-zinc-400 gap-6 md:gap-0">

      <div class="w-full md:w-1/2 text-center md:text-start">
        <h5 class="text-xl">ai03 Design Studio</h5>
        <p class="pt-2">The pursuit of the best input.</p>
      </div>

      <div class="w-full md:w-1/2 text-center md:text-end">
        <p>Socials</p>
      </div>

    </div>

  </div>
</div>