---
import { redirects } from '@scripts/redirects'

export async function getStaticPaths() {

  return redirects.map(redir => { return {
    params: { redirect: redir[0] },
    props: { target: redir[1] }
  }})
}

const { target } = Astro.props

---

<html>
  <head>
    <link rel="canonical" href={target} />
    <meta http-equiv="refresh" content={`0; URL='${target}'`} />
  </head>
  <body>
    <p>This is a redirect page to {target}.</p>
    <p>If you are not automatically redirected, please click <a href={target}>here</a>.</p>
  </body>
</html>
