---
import Layout from "../layouts/DefaultLayout.astro";
import LicenseData from "@assets/data/PackageLicenses.astro"
---

<Layout title="Welcome to Astro.">
  <div class="container mx-auto py-12">
    <h1 class="text-4xl font-[700]">Licenses Information</h1>
    <p class="my-4">The following licenses are bundled with the software used to construct this website.</p>
    <pre id="licenses-container" class="whitespace-pre-wrap pt-4">
<LicenseData />
    </pre>
  </div>
</Layout>
