---
import SimpleButton from "@components/astro/SimpleButton.astro";
---
<div class="col-span-1 bg-zinc-100 rounded-[3.75px] overflow-hidden p-8 flex flex-col gap-2">
  <img src="/assets/projects/misc/img_0012_mediumsize.avif" class="w-full rounded-[2.375px] mb-3" />
  <h2 class="text-2xl font-[500] pb-1">MX_V2 Library</h2>
  <p>KiCad footprint library for various keyboard switch types.</p>
  <p>Focused on modularity, simplicity, and real-world-tested reliability.</p>
  <div class="grow" />
  <div class="flex flex-row gap-4">
    <SimpleButton label="Visit" url="https://github.com/ai03-2725/MX_V2" />
  </div>
</div>