---
import Favicon from '@components/site-framework/Favicon.astro';
import Nav from '@components/site-framework/Nav.astro'
import '@fontsource-variable/inter';

interface Props {
	title: string;
}

const { title } = Astro.props;

const siteName = "ai03 Design Studio"

const titleString = title === "Home" ? siteName : title + " - " + siteName
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<Favicon />
		<meta name="generator" content={Astro.generator} />
		<title>{titleString}</title>
	</head>
	<body>
		<div class="flex flex-col">
			<div class="order-2">
				<slot />
			</div>
			<div class="order-3">
				<!-- TODO: Footer -->
			</div>
			<div class="order-1 z-10">
				<Nav transparent={false} lightMode={false} />
			</div>
		</div>
	</body>
</html>

